<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://unpkg.com/vue"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
<link rel="stylesheet" href="styles.css">

<div id="app">
    <div class="card">
        <div class="card-content columns is-centered">
            <div class="column is-narrow has-text-centered">
                <h2 class="is-size-4">Jogador</h2>
                <progress class="progress" :class="getPgBarClass(playerHealth)" :value="playerHealth" max="100">
                </progress>
                {{ playerHealth }}%
            </div>
            <div class="column is-narrow has-text-centered">
                <h2 class="is-size-4">Monstro</h2>
                <progress class="progress" :class="getPgBarClass(monsterHealth)" :value="monsterHealth" max="100">
                </progress>
                {{ monsterHealth }}%
            </div>
        </div>
        <div class="has-text-centered pb-3" v-if="won || lost">
            <h2 v-if="won" class="is-size-4 has-text-success">Você ganhou! :)</h2>
            <h2 v-if="lost" class="is-size-4 has-text-danger">Você perdeu! :(</h2>
        </div>
    </div>
    <div class="card">
        <div class="actions card-content is-centered buttons are-small">
            <template v-if="onCourse">
                <button class="button is-danger" @click="attack()">ATAQUE</button>
                <button class="button is-warning" @click="attack(true)">ATAQUE ESPECIAL</button>
                <button class="button is-success" @click="heal()">CURAR</button>
                <button class="button" @click="stopGame()">DESISTIR</button>
            </template>
            <template v-else>
                <button class="button is-primary" @click="startGame()">INICIAR JOGO</button>
            </template>
        </div>
    </div>
    <div class="card" v-if="hasLog">
        <div class="actions card-content is-centered">
            <article :class="`message is-small is-${action.style}`" v-for="(action, index) in actionsLog" :key="index">
                <div class="message-body has-text-centered">
                    {{ action.message }}
                </div>
            </article>
        </div>
    </div>
</div>

<script src="app.js"></script>